*{
    margin: 0;
}

nav {
    position: relative;
    color: rgb(252, 247, 247);
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
}
#cellmenu {
    display: none;
}
#fundo_home{
    background-image: url(imagens/novofundo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 95vh;
    color: white;
}

#fundo_sobrenos {
    background-image: url(imagens/testepessoas.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 95vh;
    color: white;
}

.logo{
    width: 20%;
}
img{
    width: 100%;
}

.nav-link {
    color: aliceblue;
}
.nav-link:hover {
    text-decoration: underline;
    color: #945af1;
}

li {
    color: white;
  /*  width: 120px;
    text-align: center;*/
}
#logo{
    max-width: 100%;
    height: auto;
}

#titulo{
    float: right;
    margin-top: 15%;
    margin-right: 7%;

}
#tit {
    font-size: 50px;
    font: bold;
    margin-right: 50px;
    text-shadow: 0 0 5px black;
}


.img-fluid{
    margin-left: 10%;
    width: 90%;
}
.collapse{
    margin-right: 5%;
    margin-top: 2%;
}
.row{
    margin-right: 2%;
    margin-left: 2%;
    padding-top: 70px;
    margin-bottom: 100px;
    font-size: 25px;
}
.center{
    color: #013A63;
    margin-left: 3%;
}
.imgindex{
    border-radius: 5px;
    margin-bottom: 20px;
}


.aumentadiv{
    transition: all 0.5s;
    cursor: pointer;
}
.aumentadiv:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.2);
}

.textcent {
    text-align: center;
}

.centeroqe {
    margin-left: 10px;
    color: #013A63;
}

#rob{
    padding-top: 3%;
    margin-left: 2%;
}

.pad {
    padding: 30px;
}
.textind {
    font-size: 20px;
}

.xizin {
    background-color: antiquewhite;
}

.fundin{
    background-color: rgba(24, 47, 97, 0.849);
}

.sublinhadin {
    text-decoration: underline #9758F2;
}

.azulzin {

    background-color: #014F86;

    margin: 0;

    color: white;

    padding-bottom: 100px;

}

.roxin {
    margin-left: -30px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 400px;
    color: white;
    background-image: linear-gradient(to right, #7C2DF0, #C245EE);
    padding: 5;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#robozin {
    width: 276px;
    transition: all 0.5s;
    cursor: pointer;
}
#robozin:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.2);
}

.iconin {
    width: 50px;
}
#click {
    color: #013A63;
    margin-top: 1px;
}

.form-control {
    background-color: #efebf0;
}
#botao {
    /*background-image: linear-gradient(to right, #7C2DF0, #C245EE);*/
    color: white;
    background: linear-gradient(-45deg, #013A63, #c01ec5); 
	background-size: 500%;
	animation: anim-1 5s linear infinite;
    
}

.praqserve {
    text-align: center;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}
.praqserve:hover {
    border-style: solid;
    border-color: #C245EE;
}

.padcenter {
    margin-top: 100px;
    margin-bottom: 170px;
}

.padcenter2 {
   padding: center;
}

footer {
    background-color: #013A63;
}


/*Amimação do Botão*/
@keyframes anim-1 {
	0% { background-position: 0% 50%; }
   50% { background-position: 100% 50%; }
   100% { background-position: 0% 50%; }
}

/*Celular*/

@media (max-width: 576px) {
    #pcmenu {
        display: none;
    }

    #cellmenu {
        position: inherit;
        display: block;
    }

    #titulo {
        margin-top: 9%;
        margin-right: 0%;
    }
    #tit {
        font-size: 22px;
    }

    .logo{
        width: 28%;
    }

    .center {
        text-align: center;
    }

    .padcenter {
        margin-top: -20px;
        margin-bottom: 0;
    }

    .form-control {
        background-color: #efebf0;
    }
    #botao {
        background-color: #ed1b66;
        color: white;
    }

    #fundo_home, #fundo_sobrenos {
        height: 38vh;
    }
    .semespaco {
        margin-top: -170px;
    }

    .centeroqe {
        margin-left: 8px;
        font-size: 28px;
        text-align: center;
    }
    #rob {
        font-size: 20px;
    }
}

/*Tablet*/
@media (min-width: 576px) and (max-width: 768px) {
    #pcmenu {
        display: none;
    }

    #cellmenu {
        position: inherit;
        display: block;
    }

    #titulo {
        margin-top: 9%;
        margin-right: 0%;
    }
    #tit {
        font-size: 30px;
    }

    .center {
        text-align: center;
    }

    .iconin {
        width: 40px;
    }

    #robozin {
        margin-top: 90px;
        margin-left: -60px;
        width: 250px;

    }

    .semespaco {
        margin-top: -170px;
    }

    #fundo_home, #fundo_sobrenos, #fundo_atuacoes {
        height: 47vh;
        background-color: rgb(0, 255, 34);
        background-size: 100%;
    }
}

#fundo_atuacoes{
    background-image: url(imagens/novamao.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 95vh;
    color: white;
    text-shadow: 0 0 5px black;
    
}

#padatuacoes {
    text-align: center;
}



/* Jogos */
.jogo {
    width: 80%;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.robo {
    width: 150px; /*tamanho do vírus*/
    position: absolute; /*p nenhuma interferir a outra*/
    bottom: 0;
    
}

.pulo {
    animation: pulo 500ms ease-out;
}

.virus {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: virus-animation 1.5s infinite linear;
}
@keyframes virus-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}
@keyframes pulo  {
    0%{
        bottom: 0;
    }

    40% {
        bottom: 180px; /*p ele demorar um pouco no alto*/
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}